$main-color: #aedfb5;
.layout {
  height: 100%;
  overflow: hidden;
  > .el-container {
    height: 100%;
  }
  .layout-header {
    background-color: $main-color;
  }
  .content {
    padding: 0;
  }
}
.el-tabs__header {
  margin: 0;
}
.el-tabs__item {
  user-select: none;
  transition: none !important;
}
.el-tabs__item:focus-visible {
  box-shadow: none !important;
}
.el-popover.el-popper {
  min-width: 30px !important;
  text-align: center !important;
  animation: none;
}
.el-popper {
  z-index: 99999 !important;
}
.el-select-dropdown__item.selected {
  color: #5b5b5d !important;
}
.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px #6db978;
}
.el-select .el-input.is-focus .el-input__wrapper {
  box-shadow: 0 0 0 1px #6db978 inset !important;
}
.el-select .el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px #6db978 inset !important;
}
:root {
  --el-color-primary: #6db978;
}
.el-overlay-dialog {
  .el-dialog {
    border-radius: 8px;
    .el-dialog__header{
      margin-right: 0;
      border-bottom: 1px solid #ebecf0;
    }
    .el-dialog__body {
      padding: 0;
    }
  }
}
